

.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}

body {
	background-color: #FFF1F0;
}


text {
	font-family: 'Lora', serif;
	color:#231F20;
}

h1, h2, h3, p {
	font-family: 'Lora', serif;
	color:#231F20;
	overflow-wrap: break-word;
}
h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
}


.container {
	width: 60%;
	margin:0 auto;
}

button {
	display: inline;
}